body { 
	position: relative;
	margin: 0px; }

canvas { position: absolute; }

img{ 
	width: 450px;
	visibility: hidden; 
	position: absolute;
}

video{ 
	width: 600px;
	visibility: hidden; 
	position: absolute;
}

#img-9 { width: 530px; }
#img-13 { width: 600px; }
#img-30 { width: 530px; }
